.hero-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
}

.hero-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    right: 0;
}

.hero-text{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.hero-text h1{
    font-size: calc(2rem + 1vw);
    background: black;
    font-family: 'Orelega One', serif;
    font-style: normal;
    font-weight: 800;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text p{
    font-size: calc(1rem + 0.3vw);
    color: black;
    padding: 0.5em 0 2em 0;
    font-family: 'Slackside One', cursive;
}

.hero-text .buttonDetails{
    text-decoration: none;
    background: white;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: calc(1rem + 0.3vw);
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid gray;
    color: #222;
}

@media screen and (max-width: 555px) {
    .hero-text h1, .hero-text p, .hero-text .buttonDetails {
        padding: 10px 20px;
    }

    .hero-text h1 {
        font-size: calc(1.5rem + 1vw);
    }

    .hero-text p {
        font-size: calc(0.9rem + 0.3vw);
    }

    .hero-text .buttonDetails {
        font-size: calc(0.9rem + 0.3vw);
    }
}