.general-info-section {
    padding-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}

textarea:focus {
    outline: none;
}

textarea {
    outline: none;
}

.info-editing:focus {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* subtle shadow for "pop" effect */
    background-color: rgb(248, 246, 246);
    cursor: text;
}

.info-editing {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* subtle shadow for "pop" effect */
    background-color: rgb(248, 246, 246);
    cursor: text;
}

.info-title {
    width: 95vw;
    max-width: 2000px;
    padding: 20px;
    /*background-color: #f0f0f0;*/
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: none;
    cursor: default;
    color: #e8491d;
    resize: none;
}

    .info-subtitle {
        width: 95vw;
        max-width: 2000px;
        padding: 20px;
        /*background-color: #f0f0f0;*/
        font-size: 1.5em;
        color: #D2691E;
        font-family: 'Arial', sans-serif;
        font-style: italic;
        text-align: justify;
        border: none;
        cursor: default;
        resize: none;
    }

    .info-paragraph {
        width: 95vw;
        max-width: 2000px;
        padding-left: 20px;
        font-size: 1.1em;
        font-family: 'Arial', sans-serif;
        text-align: justify;
        border: none;
        cursor: default;
        resize: none;
    }

    .info-button{
        padding: 10px 10px;
        font-size: 1.3em;
        background-color: #D2691E;
        border: none;
        cursor: pointer;
        border-radius: 13px;
        color: #fff;
        font-weight: bold;
        height: 50px;
        width: 210px;

        display: block;
        margin: 20px auto auto;
    }

    .info-button:hover {
        background: #b95d1b;
    }

    .form-button:hover {
        background: #b95d1b;
    }