.day-button {
    background: #D2691E;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    height: 30px;
    width: 120px;
    cursor: pointer;
    margin: auto auto 20px 10px;
}

.util-button {
    background: #D2691E;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: auto auto 20px 10px;
}