.manage-container {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.Toastify__toast-container {
    z-index: 99999;
}

.table-container {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    grid-gap: 10px;

}

.edit-input {
    width: 150px;

    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    /*border: 1px solid #ccc;*/
    background-color: #efd0c2;
    border:none;
    border-bottom: 1px solid #D9A768;
    /*margin-bottom: 20px;*/
}

.edit-input:focus {
    border-bottom: 2.5px solid #D9A768;
    outline: none;
}


.errMsgLine .errMsgLine {
    color: #ff6347;
    text-align: center;
    margin-bottom: 10px;
}

header {
    background: #50b3a2;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

.users-table {
    width: 40%;
    border-collapse: collapse;
    clear: both;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.users-table, th, td {
    text-align: center;
    padding: 20px 20px;
    background-color: #FAF0E6;
    border-radius: 13px;
    /*width: 80%;*/
}

.users-table tr:hover {
    background-color: #ddd;
}

.edit-button {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 13px;
    border: none;
    background-color: #FFA07A;
}

.edit-button:hover {
    background-color: #E9967A;
}